---
import Layout from "../layouts/Layout.astro";
import Card from "../components/HomeCard.astro";
---

<Layout title="Money Maker">
  <main class="w-full flex flex-col items-center justify-center">
    <div class="mt-36 flex flex-col items-center justify-center gap-14">
      <div class="flex flex-col gap-3 items-center mr-[85px]">
        <h1 class="text-3xl font-mono">
          Business Models and Industries Insights
        </h1>
        <h1 class="text-3xl font-mono">For all you need</h1>
      </div>
      <div class="grid grid-cols-5 gap-8">
        <Card emoji="ðŸ’½" name="SaaS" anchor="saas" />
        <Card emoji="ðŸ¦" name="Bank" anchor="bank" />
        <Card emoji="ðŸš—" name="Car Rental" anchor="car-rental" />
        <Card emoji="ðŸŽ®" name="Video Games" anchor="video-games" />
        <Card emoji="ðŸ“¦" name="Warehousing" anchor="warehousing" />
        <Card emoji="â›½ï¸" name="Oil & Gas" anchor="oil-and-gas" />
        <Card emoji="ðŸ’¼" name="Consulting" anchor="consulting" />
        <Card emoji="ðŸ”" name="Fast Food" anchor="fast-food" />
        <Card emoji="âš™ï¸" name="Machine Tool" anchor="machine-tool" />
        <Card emoji="ðŸ¢" name="Real Estate" anchor="real-estate" />
        <Card emoji="ðŸ“º" name="Media" anchor="media" />
        <Card emoji="ðŸ’°" name="Insurance" anchor="insurance" />
        <Card emoji="ðŸ‘”" name="Textile" anchor="textile" />
        <Card emoji="ðŸš¢" name="Shipbuilding" anchor="shipbuilding" />
      </div>
    </div>
  </main>
</Layout>
