---
interface Props {
  emoji: string;
  name: string;
  anchor: string;
}

const { emoji, name, anchor } = Astro.props;
---

<div class="font-mono w-40 flex flex-col gap-1">
  <div class="text-3xl cursor-default">{emoji}</div>
  <a href=`/industry/${anchor}` class="hover:text-blue-700">{name}</a>
</div>
